@model CoverType
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create CoverType</h2>
            <hr/>
        </div>
        <!--Adding validation in a summary format-->
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <!--Adding validation for the form-->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="with:150px">Back to list</a>
    </div>
</form>

<!--Adding validation for the form and summary in the client side by adding a jquery from the validationscriptspartial -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

